.header {
  /* background-color: #003580; */
  background-color: #003f5c;
  color: white;
  display: flex;
  justify-content: center;
  position: relative;
  padding: 20px 0;
  /* z-index: 99; */
  /* height: 12vh; */
  height: auto;
  width: 100%;

  bottom: 0;
  left: 0;
  right: 0;
}

.headerContainer {
  width: 100%;
  max-width: 1024px;
  /* margin: 20px 0px 10px 0px; */
}

.headerContainer.listMode {
  margin: 20px 0px 0px 0px;
}

.headerList {
  display: flex;
  gap: 40px;
  /* text-align: center; */
  /* align-items: center; */
  justify-content: center;
}

.headerListItem {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 15px;
}

.headerListItem:hover {
  border: 1px solid white;
  padding: 10px;
  border-radius: 20px;
}

.headerListItem.active {
  border: 1px solid white;
  padding: 10px;
  background-color: green;
  border-radius: 20px;
}
